body {
  background: #f3f4f6;
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  margin-bottom: 30px;
}

div {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
}

button {
  background: black;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
}